<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864192977046-81g6bgvvq1sv53domlnj7tfcnqdn7l9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864192977046-81g6bgvvq1sv53domlnj7tfcnqdn7l9r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>864192977046-pl9u900utekusopjcj6ais7jgev9ho14.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAO_gn89bxquwY7y8eMsXhYglX1Y0V5ag4</string>
	<key>GCM_SENDER_ID</key>
	<string>864192977046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.challenge8</string>
	<key>PROJECT_ID</key>
	<string>challenge8-note-app</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge8-note-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864192977046:ios:30f1c1de889b98148c8ab7</string>
</dict>
</plist>